* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}
body {
  margin: 0;
  height: 100%;
  padding: 1em;
}

main {
  max-width: 600px;
  width: 100%;
  margin: auto;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1em;
  column-gap: 0.2em;
  justify-content: flex-start;
  align-self: center;
}

.cell {
  border: 0.125em lightgray solid;
  width: 4em;
  height: 4em;
}

.key {
  flex-grow: 1;
  border-radius: 4px;
  background-color: gray;
  color: white;
  line-height: 0;
  position: relative;
}
.key::after {
  content: "";
  padding-top: 100%;
  display: block;
}
.key > div {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: black;
}
.key > div:active {
  border-style: inset;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 0.25em;
  min-height: 0;
  flex-grow: 1;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
}
.key.enter, .key.del {
  flex-grow: 1.5;
  font-size: 12px;
}
.row.with-spacers::before, .row.with-spacers::after {
  flex-grow: 0.5;
  content: "";
}
.key.enter::after, .key.del::after {
  display: none;
}


